name: dotnet

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          3.1.x
          9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-restore --no-build
  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Approve
      uses: trstringer/manual-approval@v1.11.0
      with:
        secret: ${{ github.TOKEN }}
        approvers: rosolko
        minimum-approvals: 1
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    - name: Pack
      run: dotnet pack --no-restore --no-build --output nupkgs
    - name: Push
      run: dotnet nuget push nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
