#name: SonarCloud analysis
#
#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]
#  workflow_dispatch:
#
#permissions:
#  pull-requests: read
#
#jobs:
#  Analysis:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Analyze with SonarCloud
#        uses: SonarSource/sonarcloud-github-action@v1.8
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        with:
#          args:
#            -Dsonar.projectKey=rosolko_WebDriverManager.Net
#            -Dsonar.organization=rosolko-github
